In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df=pd.read_csv('Data/AviationData.csv', encoding='latin-1', low_memory=False)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [11]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [12]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [13]:
df.drop(labels=['Latitude', 'Longitude', 'Schedule'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Code            50249 non-null  object
 7   Airport.Name            52790 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         85695 non-null  object
 10  Aircraft.Category       32287 non-null  object
 11  Registration.Number     87572 non-null  object
 12  Make                    88826 non-null  object
 13  Model                   88797 non-null  object
 14  Amateur.Built           88787 non-null  object
 15  Number.of.Engines       82805 non-null  float64
 16  Engine.Type             81812 non-null  object
 17  FAR.Description         32023 non-null  object
 18  Purpose.of.flight       82697 non-null  object
 19  Air.carrier             16648 non-null  object
 20  Total.Fatal.Injuries    77488 non-null  float64
 21  Total.Serious.Injuries  76379 non-null  float64
 22  Total.Minor.Injuries    76956 non-null  float64
 23  Total.Uninjured         82977 non-null  float64
 24  Weather.Condition       84397 non-null  object
 25  Broad.phase.of.flight   61724 non-null  object
 26  Report.Status           82508 non-null  object
 27  Publication.Date        75118 non-null  object
dtypes: float64(5), object(23)
memory usage: 19.0+ MB

In [20]:
df['Investigation.Type'].unique()
df['Country'].unique()
df['Aircraft.damage'].unique()
df['FAR.Description'].unique()

# df['Air.carrier'].unique()
df['Engine.Type'].value_counts() #There are more Reciprocating engines in this data set than any other.
# df['Airport.Code'].unique()
# df['Amateur.Built'].value_counts()
# df['Weather.Condition'].value_counts()

# df['Injury.Severity'].unique()

Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64

In [25]:
df.groupby(['Engine.Type','Make', 'Model'])['Total.Fatal.Injuries'].count()

Engine.Type  Make                   Model
Electric     AURORA                 PAV           1
             Alisport               SILENT 2      1
             DJI                    Phantom       1
             FACEBOOK UK LTD        AQUILA        1
             Kitty Hawk             Heaviside2    1
                                                 ..
Unknown      Wsk Pzl                KR-03A        1
             Wsk Pzl Krosno         KR-03A        4
             Wsk Pzl-krosno         KR-03A        1
             Yakovlev               50            1
             Zhuhai Helicopter Co.  S-76A         1
Name: Total.Fatal.Injuries, Length: 19068, dtype: int64

In [3]:
df['Make'].value_counts()

Cessna                 22227
Piper                  12029
CESSNA                  4922
Beech                   4330
PIPER                   2841
                       ...
Techno Avia                1
Lyons Stueckle             1
Garland                    1
CROFT ROBERT C             1
BALONY KUBICEK SPOL        1
Name: Make, Length: 8237, dtype: int64

In [4]:
df['Make']=df['Make'].str.lower()
df['Make'].value_counts()

cessna          27149
piper           14870
beech            5372
boeing           2745
bell             2722
                ...
commings            1
darst               1
john w. culp        1
lee m. brown        1
van dyke            1
Name: Make, Length: 7587, dtype: int64

In [5]:
df['Model'].value_counts()

152                     2367
172                     1756
172N                    1164
PA-28-140                932
150                      829
                        ...
D11S                       1
767-219ER                  1
N9M                        1
DH-6 TWIN OTTER            1
UH12-E, SALOY CONVER       1
Name: Model, Length: 12318, dtype: int64

In [6]:
df['Model'] =df['Model'].str.lower()
df['Model'].value_counts()

152                   2367
172                   1756
172n                  1164
pa-28-140              932
150                    829
                      ...
t-6-snj5                 1
ac-685                   1
buccaneer 11 b2b         1
skycycle sting ray       1
m20j/201                 1
Name: Model, Length: 11646, dtype: int64

In [8]:
df['Make/Model'] = df['Make']+" "+df['Model']
df['Make/Model'].value_counts()

cessna 152                         2366
cessna 172                         1753
cessna 172n                        1163
piper pa-28-140                     932
cessna 150                          829
                                   ...
crozier emeraude                      1
smyth sidewinder smyth                1
piper aircraft, inc. pa-28r-200       1
centrair asw20f                       1
bruce mckinney vari-eze               1
Name: Make/Model, Length: 18214, dtype: int64

In [9]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [10]:
df = df[(df['Aircraft.Category'] == 'Airplane') | (df['Aircraft.Category'].isna())]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84219 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                84219 non-null  object
 1   Investigation.Type      84219 non-null  object
 2   Accident.Number         84219 non-null  object
 3   Event.Date              84219 non-null  object
 4   Location                84169 non-null  object
 5   Country                 83998 non-null  object
 6   Latitude                30507 non-null  object
 7   Longitude               30499 non-null  object
 8   Airport.Code            48404 non-null  object
 9   Airport.Name            50867 non-null  object
 10  Injury.Severity         83289 non-null  object
 11  Aircraft.damage         81201 non-null  object
 12  Aircraft.Category       27617 non-null  object
 13  Registration.Number     82949 non-null  object
 14  Make                    84159 non-null  object
 15  Model                   84129 non-null  object
 16  Amateur.Built           84119 non-null  object
 17  Number.of.Engines       78838 non-null  float64
 18  Engine.Type             78456 non-null  object
 19  FAR.Description         27462 non-null  object
 20  Schedule                12084 non-null  object
 21  Purpose.of.flight       78736 non-null  object
 22  Air.carrier             14290 non-null  object
 23  Total.Fatal.Injuries    73364 non-null  float64
 24  Total.Serious.Injuries  72205 non-null  float64
 25  Total.Minor.Injuries    72740 non-null  float64
 26  Total.Uninjured         78487 non-null  float64
 27  Weather.Condition       80337 non-null  object
 28  Broad.phase.of.flight   60754 non-null  object
 29  Report.Status           78826 non-null  object
 30  Publication.Date        70638 non-null  object
 31  Make/Model              84112 non-null  object
dtypes: float64(5), object(27)
memory usage: 21.2+ MB

In [11]:
# 1. df['Aircraft.Category'].isna(): 
#This part creates a boolean mask where it checks if the values in the 'Aircraft.Category' column are NaN. 
#It returns True for NaN values and False otherwise.

# 2. df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model']): 
# This part creates another boolean mask. It checks if the values in the 'Make/Model' 
# column are present in the 'Make/Model' column of rows where 'Aircraft.Category' is equal to 'Airplane'. 
# It returns True for rows where the 'Make/Model' is in the list of 'Make/Model' values for 'Airplane'.

# 3. mask = df['Aircraft.Category'].isna() & ...: 
# This line combines the two boolean masks using the bitwise AND (&) operator. 
# The resulting mask will be True for rows where 'Aircraft.Category' is NaN and the corresponding 'Make/Model' 
# is in the list of 'Make/Model' values for 'Airplane'.



mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model'])
mask

0         True
1        False
2         True
3         True
4         True
         ...
88884     True
88885     True
88886    False
88887     True
88888     True
Length: 84219, dtype: bool

In [22]:
df.loc[mask, 'Aircraft.Category'] = 'Airplane'
df['Aircraft.Category'].value_counts()
# df['Make/Model'].value_counts()

Airplane    68177
Name: Aircraft.Category, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84219 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                84219 non-null  object
 1   Investigation.Type      84219 non-null  object
 2   Accident.Number         84219 non-null  object
 3   Event.Date              84219 non-null  object
 4   Location                84169 non-null  object
 5   Country                 83998 non-null  object
 6   Latitude                30507 non-null  object
 7   Longitude               30499 non-null  object
 8   Airport.Code            48404 non-null  object
 9   Airport.Name            50867 non-null  object
 10  Injury.Severity         83289 non-null  object
 11  Aircraft.damage         81201 non-null  object
 12  Aircraft.Category       68177 non-null  object
 13  Registration.Number     82949 non-null  object
 14  Make                    84159 non-null  object
 15  Model                   84129 non-null  object
 16  Amateur.Built           84119 non-null  object
 17  Number.of.Engines       78838 non-null  float64
 18  Engine.Type             78456 non-null  object
 19  FAR.Description         27462 non-null  object
 20  Schedule                12084 non-null  object
 21  Purpose.of.flight       78736 non-null  object
 22  Air.carrier             14290 non-null  object
 23  Total.Fatal.Injuries    73364 non-null  float64
 24  Total.Serious.Injuries  72205 non-null  float64
 25  Total.Minor.Injuries    72740 non-null  float64
 26  Total.Uninjured         78487 non-null  float64
 27  Weather.Condition       80337 non-null  object
 28  Broad.phase.of.flight   60754 non-null  object
 29  Report.Status           78826 non-null  object
 30  Publication.Date        70638 non-null  object
 31  Make/Model              84112 non-null  object
dtypes: float64(5), object(27)
memory usage: 21.2+ MB

In [13]:
unknown_type_df= df[df['Aircraft.Category'].isna()== True]

In [14]:
unknown_type_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16042 entries, 1 to 88878
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                16042 non-null  object
 1   Investigation.Type      16042 non-null  object
 2   Accident.Number         16042 non-null  object
 3   Event.Date              16042 non-null  object
 4   Location                16024 non-null  object
 5   Country                 15915 non-null  object
 6   Latitude                2775 non-null   object
 7   Longitude               2776 non-null   object
 8   Airport.Code            7413 non-null   object
 9   Airport.Name            7858 non-null   object
 10  Injury.Severity         16029 non-null  object
 11  Aircraft.damage         15235 non-null  object
 12  Aircraft.Category       0 non-null      object
 13  Registration.Number     15597 non-null  object
 14  Make                    16042 non-null  object
 15  Model                   16042 non-null  object
 16  Amateur.Built           16015 non-null  object
 17  Number.of.Engines       14621 non-null  float64
 18  Engine.Type             15387 non-null  object
 19  FAR.Description         78 non-null     object
 20  Schedule                3403 non-null   object
 21  Purpose.of.flight       15404 non-null  object
 22  Air.carrier             1105 non-null   object
 23  Total.Fatal.Injuries    13570 non-null  float64
 24  Total.Serious.Injuries  13200 non-null  float64
 25  Total.Minor.Injuries    13194 non-null  float64
 26  Total.Uninjured         14196 non-null  float64
 27  Weather.Condition       15784 non-null  object
 28  Broad.phase.of.flight   15210 non-null  object
 29  Report.Status           15949 non-null  object
 30  Publication.Date        12734 non-null  object
 31  Make/Model              16042 non-null  object
dtypes: float64(5), object(27)
memory usage: 4.0+ MB

In [15]:
unknown_type_df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     18
Country                     127
Latitude                  13267
Longitude                 13266
Airport.Code               8629
Airport.Name               8184
Injury.Severity              13
Aircraft.damage             807
Aircraft.Category         16042
Registration.Number         445
Make                          0
Model                         0
Amateur.Built                27
Number.of.Engines          1421
Engine.Type                 655
FAR.Description           15964
Schedule                  12639
Purpose.of.flight           638
Air.carrier               14937
Total.Fatal.Injuries       2472
Total.Serious.Injuries     2842
Total.Minor.Injuries       2848
Total.Uninjured            1846
Weather.Condition           258
Broad.phase.of.flight       832
Report.Status                93
Publication.Date           3308
Make/Model                    0
dtype: int64

In [46]:
print(unknown_type_df['Make/Model'].isna().sum())
print(unknown_type_df['Make/Model'].value_counts())
MnM_unknown_list=unknown_type_df['Make/Model'].value_counts().index.tolist()
MnM_unknown_list

70
cessna 152                         1916
cessna 172                          886
cessna 172n                         848
piper pa-28-140                     700
cessna 172m                         581
                                   ...
modrow avid flyer                     1
bumgarner ca65 sky fly                1
fouga 6 cm 170                        1
oakes j3 cub                          1
historical aircraft corp. a-001       1
Name: Make/Model, Length: 11134, dtype: int64

['cessna 152',
 'cessna 172',
 'cessna 172n',
 'piper pa-28-140',
 'cessna 172m',
 'cessna 150',
 'cessna 172p',
 'cessna 150m',
 'piper pa-18',
 'piper pa-28-180',
 'piper pa-28-161',
 'piper pa-28-181',
 'piper pa-38-112',
 'cessna 180',
 'piper pa-18-150',
 'cessna 150l',
 'bell 206b',
 'cessna 182',
 'grumman g-164a',
 'piper pa-32-300',
 'piper pa-24-250',
 'cessna 140',
 'cessna 170b',
 'piper pa-28r-200',
 'piper pa-23-250',
 'cessna a188b',
 'cessna 182p',
 'beech a36',
 'piper pa-12',
 'cessna 185',
 'piper pa-31-350',
 'cessna 150f',
 'piper pa-22-150',
 'cessna 150h',
 'cessna 177',
 'piper pa-25-235',
 'cessna 182q',
 'cessna 150g',
 'cessna t210n',
 'cessna 150j',
 'piper pa-32-260',
 'cessna 172rg',
 'cessna a185f',
 'mooney m20j',
 'cessna 206',
 'hughes 369d',
 'grumman g-164b',
 'aeronca 7ac',
 'cessna 177rg',
 'piper pa-34-200t',
 'piper j3c-65',
 'beech 58',
 'cessna 172k',
 'piper pa-22',
 'mooney m20c',
 'hughes 269c',
 'piper pa-30',
 'cessna 182a',
 'cessna 210',
 'cessna 207',
 'piper pa-28-151',
 'piper pa-32r-300',
 'air tractor at-301',
 'bell 206l-1',
 'luscombe 8a',
 'hiller uh-12e',
 'piper pa-28-235',
 'cessna t210m',
 'cessna 172h',
 'cessna p210n',
 'cessna t210l',
 'bellanca 7gcbc',
 'beech c23',
 'piper pa-28',
 'cessna 175',
 'cessna 177b',
 'cessna 172l',
 'robinson r22',
 'mooney m20f',
 'beech v35b',
 'de havilland dhc-2',
 'cessna 172g',
 'mooney m20k',
 'cessna 208b',
 'cessna 402b',
 'cessna 210l',
 'robinson r-22',
 'robinson r22 beta',
 'mooney m20e',
 'champion 7eca',
 'cessna 170a',
 'bellanca 17-30a',
 'cessna 150k',
 'piper pa-34-200',
 'piper pa-20',
 'cessna 172s',
 'cessna 185f',
 'bellanca 8kcab',
 'cessna 421c',
 'cessna 120',
 'piper pa-24-260',
 'beech 95-b55',
 'cessna 172f',
 'beech 35',
 'bellanca 8gcbc',
 'schweizer g-164b',
 'schweizer 269c',
 'piper pa-28r-180',
 'boeing 737',
 'rockwell s-2r',
 'bellanca 7eca',
 'taylorcraft bc12-d',
 'cessna 402c',
 'cessna 188',
 'boeing a75n1',
 'piper pa-24-180',
 'hughes 269a',
 'cessna t188c',
 'cessna 310r',
 'cessna 170',
 'cessna 172e',
 'cessna 182r',
 'cessna 188b',
 'piper pa-22-108',
 'stinson 108-3',
 'grumman g-164',
 'beech f33a',
 'cessna 421b',
 'cessna 340a',
 'bell 206l-3',
 'stinson 108-2',
 'cessna r182',
 'ercoupe (eng & research corp.) 415-c',
 'cessna 207a',
 'cessna tr182',
 'beech 23',
 'robinson r-22b',
 'cessna 310q',
 'cessna 414',
 'cessna r172k',
 'piper pa-28r-201t',
 'stinson 108-1',
 'bell 47g-2',
 'hughes 369hs',
 'piper pa-32r-301t',
 'cessna 182b',
 'cessna 180k',
 'piper pa-28r-201',
 'piper pa-46-310p',
 'piper pa-32rt-300t',
 'bell 47g',
 'cessna u206g',
 'lake la-4-200',
 'piper j-3',
 'cessna 172d',
 'air tractor at-401',
 'piper pa-23-160',
 'piper pa-34-220t',
 'piper pa-22-160',
 'cessna 180h',
 'cessna 172r',
 'piper pa-28-160',
 'piper pa-44-180',
 'cessna 305a',
 'cessna 182n',
 'piper pa-22-135',
 'cessna 195',
 'cessna 182g',
 'cessna 310',
 'piper pa-32rt-300',
 'cessna 182l',
 'cessna 182j',
 'luscombe 8e',
 'cessna 182rg',
 'cessna 150e',
 'piper pa-32r-301',
 'bell 47g-3b-1',
 'beech e18s',
 'piper pa-28rt-201t',
 'cessna u206f',
 'cessna 210m',
 'cessna 182c',
 'piper pa-46-350p',
 'beech 58p',
 'globe gc-1b',
 'cessna tu206g',
 'robinson r44',
 'aero commander s2r',
 'grumman-schweizer g-164b',
 'cessna 180j',
 'piper pa-32-301',
 'piper pa-28-236',
 'cessna 182m',
 'beech a-36',
 'cessna 182e',
 'cessna 182h',
 'cessna 172b',
 'hughes 269b',
 'cessna 182f',
 'boeing 737-200',
 'let l-13',
 'bell uh-1b',
 'air tractor at-502',
 'aeronca 11ac',
 'beech 200',
 'piper pa-25',
 'robinson r-22 beta',
 'beech 1900d',
 'piper pa-31',
 'beech a36tc',
 'cessna a185e',
 'maule m-5-235c',
 'piper pa-28rt-201',
 'beech s35',
 'bellanca 7kcab',
 'cessna 182k',
 'piper pa-11',
 'beech c24r',
 'grumman-schweizer g-164a',
 'beech 77',
 'schweizer sgs 2-33a',
 'piper pa-24',
 'cessna 340',
 'beech v35',
 'piper pa-38',
 'grumman american aa-5b',
 'beech c35',
 'cessna 172a',
 'cessna u206',
 'champion 7kcab',
 'enstrom f-28c',
 'robinson r22b',
 'cessna 210n',
 'stinson 108',
 'cessna 172i',
 'bell 407',
 'beech k35',
 'boeing 737-300',
 'piper pa-32',
 'ayres s2r',
 'bellanca 17-30',
 'beech a23',
 'beech 76',
 'champion 7gcbc',
 'taylorcraft bc-12d',
 'cessna 150d',
 'boeing 727-200',
 'enstrom 280c',
 'cessna 421',
 'waco upf-7',
 'cessna 180a',
 'champion 7ec',
 'cessna 182d',
 'ayres s2r-t34',
 'piper pa-23-150',
 'balloon works firefly 7',
 'cessna 172c',
 'enstrom f-28a',
 'cessna 414a',
 'cessna 210d',
 'beech h35',
 'mcdonnell douglas dc-10-10',
 'grumman american aa-5a',
 'piper pa-18a',
 'beech a35',
 'piper pa-18a-150',
 'piper pa-18-135',
 'piper pa-23',
 'rockwell s2r',
 'bell 47d1',
 'grumman aa-5b',
 'cessna 182s',
 'bell uh-1h',
 'champion 7gcaa',
 'mcdonnell douglas 369e',
 'cessna 152ii',
 'beech b19',
 'air tractor at-502b',
 'cessna 401',
 'piper pa-16',
 'piper pa-25-260',
 'cessna 185e',
 'robinson r-44',
 'beech c-23',
 'mcdonnell douglas md-11',
 'piper pa-31t',
 'bell 47g-5',
 'beech b35',
 'great lakes 2t-1a-2',
 'eagle aircraft co. dw-1',
 'grumman american aa-1b',
 'beech j35',
 'bell 212',
 'cessna 404',
 'grumman aa-5a',
 'air tractor at301',
 'beech b36tc',
 'cessna 177a',
 'fairchild hiller fh-1100',
 'cessna 441',
 'cessna 208',
 'beech m35',
 'piper pa-31-310',
 'mcdonnell douglas dc-9-82',
 'piper pa-18-160',
 'beech 95-c55',
 'beech g35',
 'douglas dc-3',
 'bell 206l',
 'de havilland dhc-3',
 'piper pa-14',
 'beech v35a',
 'helio h-295',
 'hughes oh-6a',
 'cessna a152',
 'beech a23-24',
 'grumman american aa-5',
 'cessna 140a',
 'swearingen sa226tc',
 'cessna 195a',
 'beech b23',
 'piper j3',
 'pitts s-2b',
 'beech 95',
 'cessna 310l',
 'cessna t310r',
 'luscombe 8f',
 'cessna 402',
 'ercoupe (eng & research corp.) 415c',
 'cessna 180b',
 'beech 1900c',
 'mitsubishi mu-2b-60',
 'piper pa28-140',
 'beech be-58',
 'hughes 369e',
 'boeing b75n1',
 'let blanik l-13',
 'bell 206b iii',
 'cessna 425',
 'mooney m20',
 'cessna 550',
 'aero commander 100',
 'maule m-4-220c',
 'piper pa-36-300',
 'cessna 150c',
 'mooney m20a',
 'cessna 310n',
 'cessna 310j',
 'bell 206b3',
 'grumman aa-1b',
 'boeing e75',
 'cessna 310c',
 'beech 55',
 'beech d18s',
 'bellanca 7gcaa',
 'cessna 210b',
 'beech a24r',
 'beech c90',
 'cessna 205',
 'schweizer g-164a',
 'cessna t303',
 'cessna t210',
 'mcdonnell douglas md-82',
 'piper pa-60-601p',
 'bell 47g2',
 'aviat a-1',
 'cessna 172 m',
 'aeronca 15ac',
 'cessna t207a',
 'piper pa-36-285',
 'cessna 210k',
 'cessna 188a',
 'lake la-4',
 'beech 95-a55',
 'beech a23a',
 'beech p35',
 'piper pa-31-325',
 'sikorsky s-76a',
 'wsk pzl mielec m-18a',
 'cessna 210e',
 'cessna 175a',
 'beech 36',
 'cessna a150l',
 'maule m-7-235',
 'american aa-1',
 'cessna 411',
 'bell 412',
 'bell 206',
 'cessna 210a',
 'north american snj-5',
 'piper pa-32r',
 'cessna a150k',
 'republic rc-3',
 'beech c-45h',
 'cessna 310d',
 'grumman aa-5',
 'cessna c-152',
 'beech n35',
 'piper pa28-151',
 'cessna t337g',
 'beech 35-b33',
 'ryan navion',
 'cessna 172xp',
 'maule m-5',
 'de havilland dhc-6-300',
 'bell 47g-4a',
 'enstrom f-28f',
 'cessna 337',
 'beech f35',
 'weatherly 201b',
 'learjet 35a',
 'beech g18s',
 'boeing 737-400',
 'north american navion',
 'boeing 727',
 'bell 206b-iii',
 'north american t-6g',
 'champion 7fc',
 'hiller uh-12c',
 'cessna 320',
 'north american at-6d',
 'aeronca 7bcm',
 'beech be-35',
 'boeing 757-232',
 'douglas dc-3c',
 'cessna 206g',
 'piper pa-28r',
 'cessna 310k',
 'maule m-6-235',
 'cessna 152 ii',
 'fairchild sa227-ac',
 'cessna 337g',
 'mcdonnell douglas md-88',
 'boeing 727-232',
 'beech b-60',
 'beech b24r',
 'piper pa-31p',
 'beech 65',
 'hiller uh-12b',
 'bellanca 17-31atc',
 'bell 47g-3b1',
 'mcdonnell douglas md-83',
 'beech be-23',
 'schleicher asw-20',
 'piper pa-60',
 'brantly helicopter b-2b',
 'beech 35-c33',
 'rockwell 112a',
 'boeing 777',
 'cessna a150m',
 'piper pa-36-375',
 'mcdonnell douglas dc-9-32',
 'beech d35',
 'cessna 150b',
 'cessna t210f',
 'robinson r22a',
 'cessna 195b',
 'navion a',
 'bell 206biii',
 'gates learjet 35a',
 'piper pa-28-150',
 'boeing a75',
 'cessna 402a',
 'boeing 757',
 'piper pa-36',
 'mcdonnell douglas 369d',
 'ryan st3kr',
 'bell oh-58a',
 'boeing 747',
 'grumman american aa-1c',
 'piper pa-32-301t',
 'mcdonnell douglas dc-9-31',
 'beech 65-a90',
 'cessna 500',
 'piper pa-34',
 'rockwell 114',
 'beech d95a',
 'north american p-51d',
 'boeing 747-400',
 'cessna 401a',
 'cessna tu206f',
 'air tractor at-400',
 'beech b200',
 'bellanca 17-31a',
 'champion 7gcb',
 'douglas dc-9-32',
 'bell 206-l4',
 'hiller uh-12d',
 'de havilland dhc-6',
 'mooney m20m',
 'boeing 757-222',
 'cirrus design corp. sr22',
 'maule m-5-210c',
 'piper pa-24-400',
 'beech 60',
 'beech be-55',
 'cessna 175b',
 'mooney m20b',
 'schweizer sgs-2-33a',
 'aerospatiale sa315b',
 'piper aerostar 601p',
 'mcdonnell douglas dc-10-30',
 'bell 205a-1',
 'boeing 727-223',
 'weatherly 620b',
 'aerospatiale as-350d',
 'bell 47g-5a',
 'canadair cl-600-2b19',
 'gulfstream-schweizer g-164b',
 'mooney m-20c',
 'piper j3c',
 'boeing 757-200',
 'cessna 421a',
 'douglas dc-9-31',
 'maule m-4-210c',
 'christen industries a-1',
 'varga 2150a',
 'mcdonnell douglas md-80',
 'grumman g-44',
 'cessna r172e',
 'mooney m20d',
 'piper j5a',
 'cessna 501',
 'schweizer sgs 1-26e',
 'aero commander 112',
 'beech d55',
 'boeing 717-200',
 'schweizer 269c-1',
 'aerospatiale as350b',
 'burkhart grob g103',
 'grumman g164b',
 'cessna 190',
 'bell 206b-3',
 'cessna 172q',
 'taylorcraft bc12d',
 'piper 601p',
 'ercoupe 415-c',
 'lockheed l-1011-385-1',
 'cessna 150a',
 'enstrom f28c',
 'ryan navion a',
 'aerospatiale atr-42-300',
 'maule m-4',
 'gulfstream american aa-5b',
 'beech b55',
 'boeing 727-224',
 'weatherly 201c',
 'taylorcraft f-19',
 'beech e-55',
 'aero commander 690a',
 'mitsubishi mu-2b-35',
 'aerospatiale as350d',
 'beech e55',
 'consolidated aeronautics inc. lake la-4-200',
 'beech e35',
 'boeing 737-222',
 'cessna t210r',
 'beech a23-19',
 'i.c.a. brasov is-28b2',
 'grumman aa5b',
 'ayres s-2r',
 'bell 47g3b1',
 'aero commander 100-180',
 'swearingen sa-226t',
 'schweizer sgs 2-33',
 'beech 99',
 'beech be-200',
 'aerospatiale sa316b',
 'alon a2',
 'smith, ted aerostar aerostar 600',
 'bell 47g-2a',
 'beech 58tc',
 'raven s-60a',
 'swearingen sa-26at',
 'taylorcraft bl-65',
 'grumman g164a',
 'bell 206a',
 'schweizer sgs 1-34',
 'piper pa-25-150',
 'beech a100',
 'cessna 180g',
 'piper pa-46',
 'aeronca 7dc',
 'beech b90',
 'wsk pzl mielec pzl-m-18',
 'piper pa-60-602p',
 'piper pa-18-125',
 'cessna p210',
 'cessna 185a',
 'cessna t210k',
 'north american t-28b',
 'boeing 747-200',
 'aeronca 7ec',
 'aero commander 500',
 'piper pa-60-600',
 'eipper quicksilver mx',
 'aerotek pitts s-2a',
 'boeing 737-322',
 'robinson r-22a',
 'mcdonnell douglas dc-9-51',
 'aviat a-1b',
 'hiller fh-1100',
 'enstrom f28a',
 'beech 19a',
 'beech f-33a',
 'saab-scania ab (saab) 340b',
 'american aa-1a',
 'rockwell 112tc',
 'cessna p206',
 'ayres s2r-600',
 'air tractor at-802a',
 'aeronca 11bc',
 'air tractor 301',
 'piper pa-18-105',
 'taylorcraft dco-65',
 'garlick uh-1h',
 'cirrus design corp. sr-22',
 'helio h-250',
 'air tractor at-602',
 'grumman 164a',
 'air tractor at-402',
 'boeing 727-225',
 'cessna 337c',
 'cessna a188',
 'american aviation corp. (aac) aa-1a',
 'cessna 310g',
 'de havilland dhc-6-200',
 'beech h-18',
 'beech b-19',
 'cessna 320d',
 'cessna 210g',
 'raven s55a',
 'aero commander 500b',
 'cessna 337b',
 'piper pa-15',
 'mooney m20r',
 'maule mx-7-235',
 'hughes 500d',
 'cessna t206h',
 'piper pa-31t1',
 'aero commander 500-b',
 'bellanca 14-13-2',
 'schweizer 300c',
 'cessna c172',
 'cessna p206b',
 'boeing 737-800',
 'taylorcraft f19',
 'beech c-99',
 'mbb bo-105s',
 'pitts s2b',
 'brantly helicopter b-2',
 'hiller uh12e',
 'mooney m-20j',
 'pitts s-1s',
 'bell 47g-3b-2',
 'cessna u206e',
 'cessna 320e',
 'beech 35-a33',
 'taylorcraft bc-65',
 'boeing 727-100',
 'bell 204b',
 'beech 19',
 'cessna a188a',
 'piper pa-28-201t',
 'cessna 310i',
 'ercoupe (eng & research corp.) 415-d',
 'piper pa-46-500tp',
 'cessna 182t',
 'piper pa-22-20',
 'artic aircraft corp. s-1b2',
 'boeing stearman a75n1',
 'kaman k-1200',
 'israel aircraft industries 1124a',
 'cameron v-77',
 'grumman aa-1c',
 'pitts s-2a',
 'cirrus design corp. sr20',
 'piper pa-601p',
 'lockheed l-1011',
 'beech s-35',
 'cessna 310h',
 'maule m-7-235c',
 'cessna 310p',
 'aerospatiale as-350b',
 'gates learjet 25b',
 'cessna 180f',
 'cessna 525',
 'cessna t-210n',
 'bell 47g-3b',
 'aero commander callair a-9b',
 'cessna 560',
 'bellanca 14-19-3a',
 'cessna 210c',
 'ercoupe (eng & research corp.) 415-cd',
 'navion g',
 'north american at-6g',
 'cessna 310b',
 'cessna 185c',
 'piper pa-18-180',
 'diamond aircraft industries da 20-a1',
 'snow s2c',
 'cessna 210f',
 'bell 47d-1',
 'piper pa-28-200',
 'piper pa28-180',
 'piper pa28-181',
 'ayres s2r-g6',
 'boeing 767-300',
 'schweizer 269d',
 'bell 222ut',
 'bell 47-d1',
 'piper pa24-250',
 'hiller 12e',
 'piper pa-30b',
 'beech 95-55',
 'learjet 24',
 'maule mx-7-180',
 'cessna 180c',
 'boeing 757-223',
 'bell oh-58c',
 'cessna 650',
 'piper pa-44-180t',
 'piper pa-28-140b',
 'christen industries pitts s-2b',
 'beech 35-33',
 'cessna 337d',
 'bell 222',
 'socata tb-20',
 'bell 206l3',
 'rockwell 690b',
 'champion 7ac',
 'mitsubishi mu-2b-40',
 'aviat pitts s-2b',
 'pzl-mielec m-18a',
 'piper j3-c65',
 'beech be-76',
 'cessna 210j',
 'boeing 757-251',
 'mcculloch j-2',
 'aero commander 680fl',
 'bell 47-g2',
 'beech b95',
 'swearingen sa-226tc',
 'piper pa28r-200',
 'maule m-5-180c',
 'boeing 747-122',
 'mooney m-20e',
 'beech c99',
 'de havilland dhc-8-102',
 'aero commander 680',
 'sukhoi su-29',
 'piper pa38-112',
 'hughes th-55',
 'quickie q2',
 'schleicher ask-21',
 'short brothers sd3-60',
 'bell 206-l3',
 'aerospatiale as350ba',
 'aero commander 200d',
 'grumman aa1b',
 'beech 95-b55b',
 'enstrom 280fx',
 'naval aircraft factory n3n-3',
 'bell th-13t',
 'callair a-9',
 'helio h-391b',
 'mooney m-20f',
 'embraer emb-110p1',
 'boeing 747-422',
 'beech b-35',
 'beech 65-90',
 'bell 47',
 'saab-scania ab (saab) 340a',
 'beech c90a',
 'boeing 747-200f',
 'cessna 206h',
 'aero commander 500s',
 'cessna 310f',
 'enstrom f28f',
 'boeing 727-227',
 'bell 47-g5',
 'boeing 727-225a',
 'bellanca 14-13',
 'cessna t-210',
 'piper pa28-161',
 'beech e-90',
 'gulfstream american aa-5a',
 'temco gc-1b',
 'cessna 320c',
 'cessna 335',
 'ayres s2r-g10',
 'bombardier cl-600-2b19',
 'cessna a-188b',
 'weatherly 620',
 'grumman g-21a',
 'aerostar rx-8',
 'bell 206-b3',
 'american champion (acac) 8kcab',
 'beech 100',
 'bell 206-l1',
 'beech d17s',
 'cessna u206a',
 'north american t-28a',
 'grumman aa-1',
 'de havilland dh-82a',
 'robinson r44 ii',
 'boeing 747-121',
 'boeing 727-222',
 'learjet 35',
 'beech h18',
 'christen industries eagle ii',
 'air & space 18a',
 'pitts s-1',
 'beech b95a',
 'lake la-250',
 'pitts s1c',
 'hughes 269',
 'beech be-77',
 'schempp-hirth standard cirrus',
 'boeing a-75',
 'beech 1900',
 'north american f-51d',
 'boeing e75n1',
 'schweizer 2-33a',
 'grumman 164b',
 'aerospatiale sa-315b',
 'cessna c-172',
 'cessna 208a',
 'air tractor at-400a',
 'canadair cl-600',
 'beech a45',
 'cessna p206a',
 'aviat a-1a',
 'rockwell 690a',
 'yakovlev yak 52',
 'piper pa22-150',
 'ayres s2r-t15',
 'snow 600-s2c',
 'aeronca o-58b',
 'waco ymf-5',
 'douglas dc-6b',
 'north american t-28c',
 'balloon works firefly 8-24',
 'champion 7gc',
 'cessna tu-206g',
 'mbb bo-105',
 'schweizer sgs 2-32',
 'beech j-35',
 'boeing 767',
 'cessna 320b',
 'cessna t-188c',
 'boeing 727-231',
 'fairchild sa-227ac',
 'aerospatiale atr-72-212',
 'beech 33',
 'cessna t210h',
 'piper j-3c',
 'socata tbm 700',
 'grumman g164',
 'piper pa18-150',
 'schweizer sgs 1-26b',
 'aero commander s-2r',
 'cessna 180d',
 'cessna 210h',
 'beech e33',
 'boeing 737-232',
 'beech e90',
 'swearingen sa227-ac',
 'mcdonnell douglas 600n',
 'boeing 767-332',
 'let l-23',
 'rockwell 112b',
 'boeing stearman e75',
 'smith, ted aerostar aerostar 601',
 'air tractor at-402a',
 'mitsubishi mu-300',
 'hughes 369a',
 'cessna t207',
 'piper j-5a',
 'north american snj-2',
 'american general aircraft ag5b',
 'bellanca 14-19',
 'beech 65-b80',
 'air tractor 502b',
 'cessna c-150',
 'beech 35-c33a',
 'boeing 737-500',
 'bell 206-b',
 'maule m-5-220c',
 'beech 18',
 'hughes th-55a',
 'schweizer g164b',
 'piccard ax-6',
 'mcdonnell douglas md-11f',
 'cessna tu206a',
 'bushby mustang ii',
 'mooney m-20k',
 'beech a60',
 'thorp t-18',
 'aeronca 7ccm',
 'bell 47g-2a-1',
 'piper pa-28-180d',
 'taylorcraft bc12-65',
 'raven rally rx7',
 'airbus industrie a320',
 'israel aircraft industries 1124',
 'smith, ted aerostar aerostar 601p',
 'grumman american aa-1a',
 'eurocopter as-350-b2',
 'mooney m20g',
 'ryan navion b',
 'fairchild sa-227-ac',
 'raven rx-7',
 'forney f-1',
 'cessna 305',
 'grumman aa5',
 'piper pa32-300',
 'piper pa-12-150',
 'mcdonnell douglas dc-10-40',
 'aero commander 685',
 'cessna t210j',
 'rockwell international s-2r',
 'boeing 727-251',
 'bellanca 7aca',
 'douglas dc-8-63',
 'piper j-3c-65',
 'cessna 336',
 'douglas dc-9-51',
 'british aerospace 3101',
 'gulfstream aerospace g-iv',
 'piper aerostar 600',
 'cessna p210r',
 'boeing 767-200',
 'beech b100',
 'piper pa-17',
 'airbus industrie a320-232',
 'mitsubishi mu-2b-20',
 'boeing 737-700',
 'piper pa-30-160',
 'maule m-7',
 'boeing b737-300',
 'taylorcraft dc-65',
 'beech 24r',
 'rolladen-schneider ls-4',
 'stinson l-5',
 'mcdonnell douglas dc-10',
 'learjet 23',
 'piper pa-39',
 'cirrus sr22',
 'boeing b737-400',
 'burkhart grob 103',
 'rotorway exec 162f',
 'cessna c-172n',
 'bensen b8m',
 'north american navion a',
 'lancair 320',
 'waco upf7',
 'fairchild m-62a-3',
 'boeing 737-524',
 'aerospatiale tb-20',
 'pitts special s-1c',
 'waco ymf',
 'swearingen sa-226-tc',
 'bellanca 14-19-3',
 'boeing md-82',
 'beech d-45',
 'airbus industrie a320-211',
 'beech b-55',
 'cessna tu206',
 'piper pa-36-400',
 'cessna u-206',
 'maule m4',
 'aerostar s-77a',
 'embraer emb-120',
 'cessna 172 rg',
 'cessna p337h',
 'beech h-35',
 'piper j4a',
 'mitsubishi mu-2b',
 'boeing 747-136',
 'schweizer sgs2-33a',
 'burkhart grob g102',
 'douglas dc-6a',
 'schempp-hirth cirrus',
 'wsk pzl mielec m-18a dromader',
 'rockwell 112tca',
 'bell 47g5',
 'cirrus design corp. sr-20',
 'boeing 737-2h4',
 'balloon works firefly 8b',
 'cessna 401b',
 'piper pa-31-t3',
 'boeing 767-222',
 'boeing 747-123',
 'boeing 737-3b7',
 'beech e-18s',
 'bell 47g3b2a',
 'air tractor at-301a',
 'boeing stearman b75n1',
 'cessna u206b',
 ...]

In [21]:
aircraft_df= df[df['Aircraft.Category']== 'Airplane']
aircraft_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27617 entries, 5 to 88886
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Investigation.Type      27617 non-null  object
 2   Accident.Number         27617 non-null  object
 3   Event.Date              27617 non-null  object
 4   Location                27610 non-null  object
 5   Country                 27610 non-null  object
 6   Latitude                22092 non-null  object
 7   Longitude               22083 non-null  object
 8   Airport.Code            17773 non-null  object
 9   Airport.Name            18256 non-null  object
 10  Injury.Severity         26803 non-null  object
 11  Aircraft.damage         26335 non-null  object
 12  Aircraft.Category       27617 non-null  object
 13  Registration.Number     27391 non-null  object
 14  Make                    27608 non-null  object
 15  Model                   27586 non-null  object
 16  Amateur.Built           27600 non-null  object
 17  Number.of.Engines       24863 non-null  float64
 18  Engine.Type             23391 non-null  object
 19  FAR.Description         27118 non-null  object
 20  Schedule                2990 non-null   object
 21  Purpose.of.flight       23878 non-null  object
 22  Air.carrier             11267 non-null  object
 23  Total.Fatal.Injuries    24452 non-null  float64
 24  Total.Serious.Injuries  24393 non-null  float64
 25  Total.Minor.Injuries    24739 non-null  float64
 26  Total.Uninjured         26717 non-null  float64
 27  Weather.Condition       24564 non-null  object
 28  Broad.phase.of.flight   6408 non-null   object
 29  Report.Status           22646 non-null  object
 30  Publication.Date        26616 non-null  object
 31  Make/Model              27580 non-null  object
dtypes: float64(5), object(27)
memory usage: 7.0+ MB

In [22]:
aircraft_df['Make/Model'].isna().sum()

37

In [23]:
aircraft_df['Make/Model'].value_counts()

cessna 172                      867
cessna 152                      450
boeing 737                      404
cessna 182                      345
cessna 172n                     315
                               ...
peck vans rv-4                    1
piper pa-60/601p                  1
hodges samuel j rv-7a             1
steven a. jones lancair iv p      1
mccrary bobby c jr rv 4           1
Name: Make/Model, Length: 7487, dtype: int64

In [43]:
aircraft_list_of_mm = aircraft_df['Make/Model'].unique().tolist()
# aircraft_list_of_mm

In [47]:
mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(aircraft_list_of_mm)
mask

0         True
1        False
2         True
3         True
4         True
         ...
88884     True
88885     True
88886    False
88887     True
88888     True
Length: 88889, dtype: bool

In [26]:
aircraft_df['Accident.Number'].value_counts()

WPR22LA201    2
DCA22WA172    2
WPR22LA143    2
DCA22WA130    2
CEN23MA034    2
             ..
GAA18CA561    1
ERA21LA205    1
LAX05CA081    1
LAX82DA192    1
LAX82DA159    1
Name: Accident.Number, Length: 27596, dtype: int64

In [27]:
df[df['Accident.Number']=="ERA22LA379"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 88386 to 88387
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                2 non-null      object
 1   Investigation.Type      2 non-null      object
 2   Accident.Number         2 non-null      object
 3   Event.Date              2 non-null      object
 4   Location                2 non-null      object
 5   Country                 2 non-null      object
 6   Latitude                2 non-null      object
 7   Longitude               2 non-null      object
 8   Airport.Code            2 non-null      object
 9   Airport.Name            2 non-null      object
 10  Injury.Severity         2 non-null      object
 11  Aircraft.damage         2 non-null      object
 12  Aircraft.Category       2 non-null      object
 13  Registration.Number     2 non-null      object
 14  Make                    2 non-null      object
 15  Model                   2 non-null      object
 16  Amateur.Built           2 non-null      object
 17  Number.of.Engines       2 non-null      float64
 18  Engine.Type             0 non-null      object
 19  FAR.Description         2 non-null      object
 20  Schedule                0 non-null      object
 21  Purpose.of.flight       2 non-null      object
 22  Air.carrier             0 non-null      object
 23  Total.Fatal.Injuries    2 non-null      float64
 24  Total.Serious.Injuries  2 non-null      float64
 25  Total.Minor.Injuries    2 non-null      float64
 26  Total.Uninjured         2 non-null      float64
 27  Weather.Condition       2 non-null      object
 28  Broad.phase.of.flight   0 non-null      object
 29  Report.Status           0 non-null      object
 30  Publication.Date        2 non-null      object
 31  Make/Model              2 non-null      object
dtypes: float64(5), object(27)
memory usage: 528.0+ bytes

In [20]:
print(len(df['Accident.Number'].unique()))
print(len(df['Event.Id'].unique()))


# df['Event.Id'].duplicated()

duplicate = df[df.duplicated('Accident.Number')]
duplicate.sort_values('Accident.Number')


# Same Accidenet.Number and Event ID, but two different Make and models. Plane collision?
# df.loc[df['Accident.Number'] == 'CEN22FA424']

84196
83293

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
88538,20220918105957,Accident,CEN22FA424,2022-09-17,"Longmont, CO",United States,040619N,0105721W,NaN,NaN,...,McAir Aviation,3.0,0.0,0.0,0.0,VMC,NaN,NaN,07-10-2022,cessna 172s
87549,20220323104818,Accident,CEN22LA149,2022-03-18,"Grapevine, TX",United States,032530N,0097251W,DFW,Dallas Ft. Worth,...,MARTINAIRE AVIATION LLC,0.0,0.0,0.0,2.0,VMC,NaN,The failure of the pilot of the second aircraf...,05-07-2022,cessna 208b
88258,20220730105623,Accident,CEN22LA346,2022-07-28,"Oshkosh, WI",United States,043599N,0883329W,OSH,Wittman Regional,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,The failure of the pilot of N694V (RV-8) to ma...,22-09-2022,meschler gary r rv-4
88777,20221112106276,Accident,CEN23MA034,2022-11-12,"Dallas, TX",United States,324026N,0965146W,RBD,Dallas Executive,...,Commemorative Air Force,6.0,0.0,0.0,0.0,VMC,NaN,NaN,30-11-2022,boeing b17
87991,20220623105317,Accident,DCA22LA135,2022-06-18,"New York, NY",United States,403833N,0734644W,KJFK,John F kennedy International,...,Air France,0.0,0.0,0.0,0.0,VMC,NaN,NaN,NaN,boeing 777
88513,20220915105950,Accident,DCA22LA201,2022-09-11,"Chicago, IL",United States,NaN,NaN,NaN,NaN,...,SOUTHWEST AIRLINES CO,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 737-7h4
87331,20220309104747,Incident,DCA22WA089,2022-01-15,"Sukkur, OF",Pakistan,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 737
87917,20220614105258,Incident,DCA22WA130,2022-06-05,"Peshawar, OF",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 777
88085,20220726105577,Incident,DCA22WA158,2022-07-02,"Barcelona,",Spain,411750N,0002442E,LEBL,Barcelona International Airpor,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 737
87348,20220801105632,Incident,DCA22WA167,2022-01-22,"Kigali,",Rwanda,001587S,0030822E,NaN,NaN,...,Ethopian Air,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 737-800
88096,20220804105661,Incident,DCA22WA172,2022-07-04,"TBD,",MU,NaN,NaN,NaN,NaN,...,Saudi Airlines,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 777
88528,20220921105978,Incident,DCA22WA204,2022-09-14,"Mumbai,",India,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,boeing 787
88593,20220929106019,Accident,DCA22WA214,2022-09-28,"London,",Great Britain,512820N,0002717E,EGLL,London Heathrow Airport,...,NaN,0.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,boeing 757
88798,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,Valair Private Jets,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,cessna 525
88175,20220718105496,Accident,ERA22FA318,2022-07-17,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Airwork Las Vegas,4.0,0.0,0.0,0.0,VMC,NaN,NaN,05-08-2022,cessna 172n
88241,20220727105589,Accident,ERA22FA338,2022-07-26,"Portland, AR",United States,331336N,0912816W,NaN,NaN,...,LASSCO LLC,1.0,0.0,1.0,0.0,VMC,NaN,NaN,18-08-2022,air tractor inc. at-802
87305,20220111104514,Accident,ERA22LA103,2022-01-08,"Knoxville, TN",United States,355750N,0835225W,DKX,KNOXVILLE DOWNTOWN ISLAND,...,NaN,0.0,0.0,0.0,4.0,VMC,NaN,The pilot of the Cessna 150Â’s failure to avoid...,14-06-2022,cessna 150g
87412,20220212104630,Accident,ERA22LA119,2022-02-11,"Naples, FL",United States,026930N,0081464W,APF,NAPLES MUNI,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,"The biplane pilotÂ’s inadequate visual lookout,...",22-09-2022,great lakes 2t-1a-2
88315,20220808105682,Accident,ERA22LA364,2022-08-06,"Erwinna, PA",United States,040293N,0075559W,9N1,VANSANT,...,NaN,0.0,0.0,0.0,2.0,VMC,NaN,NaN,19-09-2022,waco upf-7
88387,20220822105776,Accident,ERA22LA379,2022-08-20,"Bealeton, VA",United States,038338N,0774255W,3VA3,Flying Circus Aerodrome,...,NaN,0.0,2.0,0.0,2.0,VMC,NaN,NaN,27-09-2022,boeing a75n1
88372,20220818105763,Accident,WPR22FA309,2022-08-18,"Watsonville, CA",United States,365623N,1214715W,WVI,WATSONVILLE MUNI,...,NaN,3.0,0.0,0.0,0.0,NaN,NaN,NaN,15-09-2022,cessna 340a
87623,20220406104897,Accident,WPR22LA143,2022-04-02,"Van Nuys, CA",United States,034137N,1182932W,VNY,Van Nuys,...,NaN,0.0,0.0,0.0,8.0,VMC,NaN,The student pilotÂ’s failure to maintain suffic...,20-07-2022,cessna 172g
87932,20220608105217,Accident,WPR22LA201,2022-06-07,"Hawthorne, CA",United States,335520N,0118203W,KHHR,Jack Northrop Field/Hawthorne,...,PACIFIC DENTAL SERVICES LLC,0.0,0.0,0.0,11.0,VMC,NaN,The multi-engine pilot's failure to maintain c...,02-12-2022,bombardier bd100 1a10

In [29]:
# df.isnull().sum()
df['Broad.phase.of.flight'].value_counts()
# df.sort_values(by = 'Event.Date', ascending =True)

Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

In [18]:
column_names = list(df.columns)


# for x in column_names:
#     print(df[x].value_counts())

In [30]:
df.loc[df['Event.Id'] == '20001214X45071']

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
6781,20001214X45071,Accident,FTW84LA056C,1983-11-11,"HOUSTON, TX",United States,NaN,NaN,AAP,ANDRAU,...,NaN,0.0,0.0,0.0,5.0,VMC,Standing,Probable Cause,19-03-2002,cessna 414a
6784,20001214X45071,Accident,FTW84LA056B,1983-11-11,"HOUSTON, TX",United States,NaN,NaN,AAP,ANDRAU,...,NaN,0.0,0.0,0.0,5.0,VMC,Standing,Probable Cause,19-03-2002,beech 95-b55
6785,20001214X45071,Accident,FTW84LA056A,1983-11-11,"HOUSTON, TX",United States,NaN,NaN,AAP,ANDRAU,...,NaN,0.0,0.0,0.0,5.0,VMC,Taxi,Probable Cause,19-03-2002,piper pa-34-200t

In [8]:
subset_fatalities = df.loc[(df['Injury.Severity'] == 'Fatal(1)') | (df['Injury.Severity'] == 'Fatal') | (df['Injury.Severity'] == 'Fatal(2)')]
# subset.sort_values(by = 'Total.Fatal.Injuries', ascending =False)
subset_fatalities.sort_values(by = 'Event.Date', ascending =True)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
14,20020917X02119,Accident,FTW82FPJ10,1982-01-02,"CHICKASHA, OK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88843,20221205106408,Accident,CEN23FA057,2022-12-04,"Cleburne, TX",United States,321926N,0972553W,CPT,CLEBURNE RGNL,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,NaN,NaN,15-12-2022
88845,20221205106417,Accident,CEN23FA059,2022-12-05,"Corning, IA",United States,405957N,0944518W,CRZ,Corning Municipal Airport,...,Personal,PORTER STEVEN B,1.0,0.0,0.0,0.0,VMC,NaN,NaN,13-12-2022
88846,20221206106419,Accident,CEN23FA060,2022-12-05,"Yukon, OK",United States,352933N,0974927W,RCE,CLARENCE E PAGE MUNI,...,Personal,NaN,3.0,0.0,0.0,0.0,VMC,NaN,NaN,13-12-2022
88868,20221213106451,Accident,ERA23FA087,2022-12-13,"Kellyton, AL",United States,NaN,NaN,NaN,NaN,...,Executive/corporate,RAINWATER FARMS LLC,1.0,0.0,0.0,0.0,NaN,NaN,NaN,15-12-2022
88883,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,28-12-2022

In [9]:
subset_fatalities.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     14
Country                      39
Latitude                   8544
Longitude                  8544
Airport.Code               9030
Airport.Name               8790
Injury.Severity               0
Aircraft.damage             213
Aircraft.Category          9252
Registration.Number         304
Make                         15
Model                        21
Amateur.Built                17
Number.of.Engines          1654
Engine.Type                2033
FAR.Description            9395
Schedule                  13676
Purpose.of.flight          1343
Air.carrier               12287
Total.Fatal.Injuries          0
Total.Serious.Injuries     2035
Total.Minor.Injuries       2262
Total.Uninjured            2284
Weather.Condition          1427
Broad.phase.of.flight      5732
Report.Status              2244
Publication.Date           2011
dtype: int64

In [40]:
print(df['Event.Date'].sort_index().head(10))
df['Event.Year'] = df['Event.Date'].str[:4]
df['Event.Year'].sort_index().head(10)
df['Event.Year'].value_counts().sort_index()

0    1948-10-24
1    1962-07-19
2    1974-08-30
3    1977-06-19
4    1979-08-02
5    1979-09-17
6    1981-08-01
7    1982-01-01
8    1982-01-01
9    1982-01-01
Name: Event.Date, dtype: object

1948       1
1962       1
1974       1
1977       1
1979       2
1981       1
1982    3593
1983    3556
1984    3457
1985    3096
1986    2880
1987    2828
1988    2730
1989    2544
1990    2518
1991    2462
1992    2355
1993    2313
1994    2257
1995    2309
1996    2187
1997    2148
1998    2226
1999    2209
2000    2220
2001    2063
2002    2020
2003    2085
2004    1952
2005    2031
2006    1851
2007    2016
2008    1893
2009    1783
2010    1786
2011    1850
2012    1835
2013    1561
2014    1535
2015    1582
2016    1664
2017    1638
2018    1681
2019    1624
2020    1392
2021    1545
2022    1607
Name: Event.Year, dtype: int64