In [1]:
# Import libraries
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load in data
df=pd.read_csv('Data/AviationData.csv', encoding='latin-1', low_memory=False)
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [3]:
#Dropping rows if the make or model is missing.
#We want to identify which plane is the best investment and cant do so if this info is missing.
df.dropna(subset=['Make', 'Model'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88725 non-null  object
 5   Country                 88552 non-null  object
 6   Latitude                34347 non-null  object
 7   Longitude               34338 non-null  object
 8   Airport.Code            50213 non-null  object
 9   Airport.Name            52746 non-null  object
 10  Injury.Severity         87798 non-null  object
 11  Aircraft.damage         85605 non-null  object
 12  Aircraft.Category       32245 non-null  object
 13  Registration.Number     87502 non-null  object
 14  Make                    88777 non-null  object
 15  Model                   88777 non-null  object
 16  Amateur.Built           88678 non-null  object
 17  Number.of.Engines       82754 non-null  float64
 18  Engine.Type             81771 non-null  object
 19  FAR.Description         31936 non-null  object
 20  Schedule                12532 non-null  object
 21  Purpose.of.flight       82639 non-null  object
 22  Air.carrier             16609 non-null  object
 23  Total.Fatal.Injuries    77391 non-null  float64
 24  Total.Serious.Injuries  76287 non-null  float64
 25  Total.Minor.Injuries    76863 non-null  float64
 26  Total.Uninjured         82880 non-null  float64
 27  Weather.Condition       84338 non-null  object
 28  Broad.phase.of.flight   61683 non-null  object
 29  Report.Status           82442 non-null  object
 30  Publication.Date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [4]:
df['Make']=df['Make'].str.lower()
df['Make'].value_counts()

cessna                  27145
piper                   14869
beech                    5371
boeing                   2738
bell                     2722
                        ...
bevilacqua jeffrey l        1
prest                       1
clarke colin a              1
sanderson herbert h         1
madsen/rans                 1
Name: Make, Length: 7575, dtype: int64

In [5]:
# Function to process a single value
def process_category(value):
    # Convert to lowercase, remove spaces, dashes, and underscores, and combine all words
    return ''.join(value.lower().replace(' ', '').replace('-', '').replace('_', ''))

df['Model'] = df['Model'].apply(process_category)
df['Model'].value_counts()

152             2367
172             1756
172n            1172
pa28140         1002
172m             829
                ...
flutrbugsa6b       1
starduster2        1
s4coyotei          1
c901               1
727100qc           1
Name: Model, Length: 8843, dtype: int64

In [6]:
df['Make/Model'] = df['Make']+" "+df['Model']
df['Make/Model'].value_counts()

cessna 152                         2366
cessna 172                         1753
cessna 172n                        1171
piper pa28140                      1001
cessna 172m                         829
                                   ...
tolsma tony g avidmagnum              1
daughters t18c                        1
de havilland dhg6300                  1
glaser-dirks dg800b                   1
glaser-dirks flugzeugbau dg100g       1
Name: Make/Model, Length: 15844, dtype: int64

In [7]:
df['Aircraft.Category'].value_counts()

Airplane             27580
Helicopter            3435
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [8]:
#Here we are seeing if the make/model for a specific aircraft category matches another row where aircraft category is null.

# 1. df['Aircraft.Category'].isna(): 
#This part creates a boolean mask where it checks if the values in the 'Aircraft.Category' column are NaN. 
#It returns True for NaN values and False otherwise.

# 2. df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model']): 
# This part creates another boolean mask. It checks if the values in the 'Make/Model' 
# column are present in the 'Make/Model' column of rows where 'Aircraft.Category' is equal to 'Airplane'. 
# It returns True for rows where the 'Make/Model' is in the list of 'Make/Model' values for 'Airplane'.

# 3. mask = df['Aircraft.Category'].isna() & ...: 
# This line combines the two boolean masks using the bitwise AND (&) operator. 
# The resulting mask will be True for rows where 'Aircraft.Category' is NaN and the corresponding 'Make/Model' 
# is in the list of 'Make/Model' values for 'Airplane'.



Airplane_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model'])
Helicopter_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Helicopter']['Make/Model'])
Glider_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Glider']['Make/Model'])
Balloon_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Balloon']['Make/Model'])
Gyrocraft_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Gyrocraft']['Make/Model'])
WeightShift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Weight-Shift']['Make/Model'])
PoweredParachute_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered Parachute']['Make/Model'])
Ultralight_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Ultralight']['Make/Model'])
Unknown_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Unknown']['Make/Model'])
WSFT_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'WSFT']['Make/Model'])
PoweredLift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered-Lift']['Make/Model'])
Blimp_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Blimp']['Make/Model'])
UNK_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'UNK']['Make/Model'])
ULTR_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'ULTR']['Make/Model'])
Rocket_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Rocket']['Make/Model'])

In [9]:
df.loc[Airplane_mask, 'Aircraft.Category'] = 'Airplane'
df.loc[Helicopter_mask, 'Aircraft.Category'] = 'Helicopter'
df.loc[Glider_mask, 'Aircraft.Category'] = 'Glider'
df.loc[Balloon_mask, 'Aircraft.Category'] = 'Balloon'
df.loc[Gyrocraft_mask, 'Aircraft.Category'] = 'Gyrocraft'
df.loc[WeightShift_mask, 'Aircraft.Category'] = 'Weight-Shift'
df.loc[PoweredParachute_mask, 'Aircraft.Category'] = 'Powered Parachute'
df.loc[Ultralight_mask, 'Aircraft.Category'] = 'Ultralight'
df.loc[Unknown_mask, 'Aircraft.Category'] = 'Unknown'
df.loc[WSFT_mask, 'Aircraft.Category'] = 'WSFT'
df.loc[PoweredLift_mask, 'Aircraft.Category'] = 'Powered-Lift'
df.loc[Blimp_mask, 'Aircraft.Category'] = 'Blimp'
df.loc[UNK_mask, 'Aircraft.Category'] = 'UNK'
df.loc[ULTR_mask, 'Aircraft.Category'] = 'ULTR'
df.loc[Rocket_mask, 'Aircraft.Category'] = 'Rocket'




df['Aircraft.Category'].value_counts()

Airplane             69263
Helicopter            7420
Glider                1030
Balloon                435
Unknown                235
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [10]:
#Investigating the unknown aircraft category by make and model, to find any aircrafts.
unknown_aircraft_df = df[df['Aircraft.Category']=='Unknown']
unknown_aircraft_df['Make/Model'].value_counts()

bell 206l3                                 97
schweizer 269c                             89
bell 412                                   23
mitsubishi mu300                            8
agusta a119                                 5
rans s7                                     3
quad city challenger                        3
quicksilver mxlsportii                      1
parachute icarus crossfire2                 1
varieze ruatan                              1
sui ry, laurinen janne, kääriä compair8     1
cessna aircraft company 560xl               1
robinson helicopter company r44ii           1
amateur construction denneykitfoxmk2        1
Name: Make/Model, dtype: int64

In [11]:
# Identifying airplanes in the unknown aircraft category and classifying them as airplanes.
# Will need to change the "Make" name for cessna aircraft company to cessna

unknown_condition_airplane=((df['Aircraft.Category'] == 'Unknown') & 
                   ((df['Make/Model'] == 'rans s7') | (df['Make/Model'] == 'cessna aircraft company 560xl') | 
                    (df['Make/Model'] == 'mitsubishi mu300')))
df.loc[unknown_condition_airplane, 'Aircraft.Category'] = 'Airplane'

df['Aircraft.Category'].value_counts()

#Now we can just drop all rows where the aircraft category is unknown since there are no more airplanes in the categorgy.

Airplane             69275
Helicopter            7420
Glider                1030
Balloon                435
Unknown                223
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [12]:
# Now lets investigate the NaN values in aircraft categorgy.

None_aircraft_df = df[df['Aircraft.Category'].isna()]
None_aircraft_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982,north american navionl17b
344,20020917X02404,Accident,MIA82FA051,1982-02-17,"MIAMI, FL",United States,NaN,NaN,MIA,MIAMI INTERNATIONAL,...,"Pan American World Airways, In",0.0,1.0,1.0,51.0,VMC,Takeoff,Probable Cause,17-02-1983,boeing 727235
1382,20020917X02937,Accident,CHI82DA191,1982-05-29,"DETROIT, MI",United States,NaN,NaN,DTW,DETROIT METROPOLITAN,...,NaN,0.0,0.0,0.0,3.0,IMC,Approach,Probable Cause,29-05-1983,convair 240
1505,20020917X03932,Accident,NYC82DA121,1982-06-09,"SHREWSBURY, PA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Maneuvering,Probable Cause,09-06-1983,scheicher k8b
1871,20020917X03104,Accident,DCA82AA028,1982-07-09,"NEW ORLEANS, LA",United States,NaN,NaN,NaN,NaN,...,Pan American World A/w,153.0,9.0,0.0,7.0,VMC,Takeoff,Probable Cause,09-07-1983,boeing 727235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88484,20220915105948,Accident,ERA22LA421,2022-09-06,"Millersburg, OH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,NaN,NaN,NaN,16-09-2022,owen kingsley b vansrv8
88555,20220926105996,Accident,DCA22WA208,2022-09-20,"San Antonio del Estrecho,",Peru,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,26-09-2022,bae 3201ep
88598,20221006106083,Accident,DCA23LA008,2022-09-29,"Denver, CO",United States,NaN,NaN,NaN,NaN,...,Southwest Airlines,0.0,0.0,1.0,140.0,NaN,NaN,NaN,11-10-2022,boeing 7377ct
88750,20221104106250,Accident,GAA23WA025,2022-11-03,"San Clemente,",Côte d'Ivoire,NaN,NaN,NaN,NaN,...,Servicios Aéreos Kipreos Ltda,1.0,0.0,1.0,0.0,NaN,NaN,NaN,01-12-2022,bell uh1d
88878,20221227106496,Accident,WPR23LA074,2022-12-17,"Cottonwood, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,27-12-2022,royse ralph l glasair

In [13]:
None_aircraft_df['Make'].value_counts()

boeing               443
cessna               340
beech                314
piper                265
mcdonnell douglas    132
                    ...
john t. garrett        1
freije                 1
teman                  1
beierle                1
pacheco                1
Name: Make, Length: 3982, dtype: int64

In [14]:
#Here we are assigning the variable 'airplane' to well known airplane manufactures that dont have a aircraft classification.

df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'boeing'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'cessna'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beech'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beechcraft'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'piper'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'mcdonnell douglas'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'douglas'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'de havilland'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'rockwell'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'british aerospace'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'airbus industrie'), 'Aircraft.Category'] = 'Airplane'

In [15]:
#Now lets drop all rows in the aircraft category column that don't equal airplane
airplane_df = df[df['Aircraft.Category'] == 'Airplane']
airplane_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,stinson 1083
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,piper pa24180
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,rockwell 112
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,cessna 501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,piper pa28151
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,bellanca 7eca
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,cessna 210n
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [16]:
filtered_df = airplane_df[airplane_df['Injury.Severity'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
63918,2008-01-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
63987,2008-01-24,NaN,0.0,0.0,0.0,0.0,NaN,cessna c208bcaravan
64026,2008-02-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
64128,2008-02-28,NaN,0.0,0.0,0.0,0.0,NaN,piper pa34200
64178,2008-03-10,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
...,...,...,...,...,...,...,...,...
88832,2022-11-27,NaN,0.0,0.0,0.0,0.0,NaN,cessna 177
88849,2022-12-05,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
88879,2022-12-18,NaN,0.0,0.0,0.0,0.0,NaN,airbus a330243
88885,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,bellanca 7eca
88887,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,cessna 210n

In [17]:
# Here I am checking to make sure there are no injuries recorded in these rows.
#We are good to remove rows where the Injury Severity is null.
filtered_df['Total.Fatal.Injuries'].sum()
filtered_df['Total.Serious.Injuries'].sum()
filtered_df['Total.Minor.Injuries'].sum()
filtered_df['Total.Uninjured'].sum()

0.0

In [18]:
#Drop rows where the Injury Severity is NA
airplane_df =airplane_df.dropna(subset=['Injury.Severity'])
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69989 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69989 non-null  object
 1   Investigation.Type      69989 non-null  object
 2   Accident.Number         69989 non-null  object
 3   Event.Date              69989 non-null  object
 4   Location                69948 non-null  object
 5   Country                 69888 non-null  object
 6   Latitude                27816 non-null  object
 7   Longitude               27807 non-null  object
 8   Airport.Code            42454 non-null  object
 9   Airport.Name            44526 non-null  object
 10  Injury.Severity         69989 non-null  object
 11  Aircraft.damage         67982 non-null  object
 12  Aircraft.Category       69989 non-null  object
 13  Registration.Number     69093 non-null  object
 14  Make                    69989 non-null  object
 15  Model                   69989 non-null  object
 16  Amateur.Built           69911 non-null  object
 17  Number.of.Engines       66566 non-null  float64
 18  Engine.Type             65555 non-null  object
 19  FAR.Description         26589 non-null  object
 20  Schedule                9209 non-null   object
 21  Purpose.of.flight       65863 non-null  object
 22  Air.carrier             13118 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67165 non-null  object
 28  Broad.phase.of.flight   48112 non-null  object
 29  Report.Status           65543 non-null  object
 30  Publication.Date        59248 non-null  object
 31  Make/Model              69989 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [19]:
# Looking at rows where the fata injury category is na or zero
airplane_df[airplane_df['Total.Fatal.Injuries'].isnull()]
# airplane_df[airplane_df['Total.Fatal.Injuries'] == 0]
# airplane_df[(airplane_df['Total.Fatal.Injuries'] == 0) | (airplane_df['Total.Fatal.Injuries'].isnull())]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,mcdonnell douglas dc9
89,20020917X02486,Accident,NYC82DA022,1982-01-15,"BUTLER, PA",United States,NaN,NaN,3G9,BUTLER ROE,...,NaN,NaN,NaN,NaN,2.0,VMC,Approach,Probable Cause,15-01-1983,cessna 310
260,20020917X02495,Accident,NYC82DA033,1982-02-07,"MARTHAS VINEYARD, MA",United States,NaN,NaN,NaN,MARTHAS VINEYARD,...,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,05-05-2011,bellanca 7kcab
351,20020917X02151,Incident,FTW82IA062,1982-02-19,"HARLINGEN, TX",United States,NaN,NaN,HRL,HARLINGEN IND.AIR PARK,...,Mexicana Airlines,NaN,NaN,NaN,83.0,IMC,Landing,Probable Cause,04-12-2014,boeing b727200
728,20020917X02383,Accident,MIA82DA098,1982-04-01,"ORMOND BEACH, FL",United States,NaN,NaN,OMN,ORMOND BEACH,...,NaN,NaN,NaN,NaN,1.0,VMC,Taxi,Probable Cause,01-04-1983,cessna 172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63904,20080215X00200,Accident,CHI08CA058,2007-12-29,"CRYSTAL FALLS, MI",United States,46.8,-88.36,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,VMC,Landing,Probable Cause,28-02-2008,cessna 172f
63905,20080214X00193,Accident,CHI08CA056,2007-12-29,"ABINGDON, IL",United States,40.799722,-90.438611,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,VMC,Maneuvering,Probable Cause,28-02-2008,ercoupe (eng & research corp.) 415d
63910,20080129X00122,Accident,CHI08CA057,2007-12-30,"ALEXANDRIA, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,NaN,NaN,NaN,NaN,1.0,VMC,Takeoff,Probable Cause,28-02-2008,lerohl rv8
63911,20080125X00106,Accident,SEA08CA056,2007-12-31,"SANTA ANA, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,28-02-2008,piper pa12
63912,20080206X00141,Accident,CHI08WA075,2007-12-31,"Guernsey, United Kingdom",United Kingdom,49.435,-2.600278,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Foreign,06-02-2008,cessna t303

In [20]:
#Here I am looking at rows where all injury categories are NaN

filtered_df = airplane_df[airplane_df['Total.Fatal.Injuries'].isnull() & airplane_df['Total.Serious.Injuries'].isnull() & airplane_df['Total.Minor.Injuries'].isnull() & airplane_df['Total.Uninjured'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]
#Might be best just to drop all of these rows, since we don't know how many people were on the plane.
#For the standing phases of the flight, we can replace total uninjured with average total people for that make/model

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
15579,1986-08-10,Incident,NaN,NaN,NaN,NaN,Standing,mcdonnell douglas dc1040
18430,1987-08-16,Incident,NaN,NaN,NaN,NaN,NaN,boeing b767200er
19110,1987-11-07,Incident,NaN,NaN,NaN,NaN,NaN,mcdonnell douglas dc1015
19342,1987-12-16,Unavailable,NaN,NaN,NaN,NaN,NaN,boeing 747124f
20067,1988-04-14,Incident,NaN,NaN,NaN,NaN,NaN,boeing 747
...,...,...,...,...,...,...,...,...
62585,2007-05-25,Unavailable,NaN,NaN,NaN,NaN,NaN,douglas dc3
63009,2007-07-23,Incident,NaN,NaN,NaN,NaN,NaN,airbus a330
63398,2007-09-16,Unavailable,NaN,NaN,NaN,NaN,NaN,piper pa32301
63646,2007-10-28,Incident,NaN,NaN,NaN,NaN,Standing,boeing 757225
63761,2007-11-22,Incident,NaN,NaN,NaN,NaN,NaN,boeing 767300

In [21]:
# step 1
#I'm dropping rows, where there is no information to how many passangers were on board.  
columns_to_check = ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']
airplane_df.dropna(subset=columns_to_check, how='all', inplace=True)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [22]:
airplane_df[columns_to_check] = airplane_df[columns_to_check].fillna(0)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    69809 non-null  float64
 24  Total.Serious.Injuries  69809 non-null  float64
 25  Total.Minor.Injuries    69809 non-null  float64
 26  Total.Uninjured         69809 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [28]:
#Here we are looking at information on how many passangers were on board.
# Here we could replace Total.unijured values with the average passagers per Make/Model.
# airplane_df[(airplane_df[columns_to_check] == 0).all(axis=1)]
# airplane_df[(airplane_df[columns_to_check] == 0).any(axis=1)]
airplane_df[(airplane_df[columns_to_check] != 0).all(axis=1)] #When you look at this event id 20001213X35148 has a duplicate.

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model,Total Passengers
155,20020917X01909,Accident,DCA82AA013,1982-01-23,"BOSTON, MA",United States,NaN,NaN,NaN,BOSTON-LOGAN INTER'L,...,2.0,4.0,24.0,182.0,IMC,Landing,Probable Cause,23-01-1983,mcdonnell douglas dc1030,212.0
4535,20001214X42822,Accident,SEA83FA094,1983-04-30,"FRIDAY HARBOR, WA",United States,NaN,NaN,S19,FRIDAY HARBOR,...,1.0,1.0,2.0,1.0,VMC,Go-around,Probable Cause,NaN,cessna c172n,5.0
4888,20001214X43285,Accident,DCA83AA028,1983-06-02,"COVINGTON, KY",United States,NaN,NaN,CVG,GREATER CINCINNATI,...,23.0,3.0,13.0,7.0,VMC,Cruise,Probable Cause,NaN,douglas dc932,46.0
12519,20001214X37434,Accident,DCA85AA031,1985-08-02,"DALLAS/FT WORTH, TX",United States,NaN,NaN,DFW,DALLAS/FORT WORTH INTL,...,135.0,15.0,13.0,2.0,IMC,Approach,Probable Cause,NaN,lockheed l10113851,165.0
16262,20001213X35148,Accident,DCA87MA010A,1986-11-06,"TAMPA, FL",United States,NaN,NaN,NaN,TAMPA INTL,...,1.0,1.0,2.0,20.0,IMC,Approach,Probable Cause,07-03-1988,piper pa23150,24.0
16266,20001213X35148,Accident,DCA87MA010B,1986-11-06,"TAMPA, FL",United States,NaN,NaN,NaN,TAMPA INTL,...,1.0,1.0,2.0,20.0,IMC,Taxi,Probable Cause,07-03-1988,boeing 727235,24.0
19173,20001213X32505,Accident,DCA88MA004,1987-11-15,"DENVER, CO",United States,NaN,NaN,DEN,STAPLETON INTERNATIONAL,...,28.0,28.0,25.0,1.0,IMC,Takeoff,Probable Cause,19-05-1989,mcdonnell douglas dc914,82.0
19514,20001213X24878,Accident,DCA88MA017,1988-01-19,"BAYFIELD, CO",United States,NaN,NaN,DRO,DURANGO,...,9.0,1.0,6.0,1.0,IMC,Approach,Probable Cause,01-09-1989,fairchild sa227ac,17.0
20169,20001213X25439,Accident,DCA88MA054,1988-04-28,"MAUI, HI",United States,NaN,NaN,NaN,NaN,...,1.0,7.0,57.0,30.0,VMC,Cruise,Probable Cause,25-06-1990,boeing 737297,95.0
21341,20001213X26528,Accident,DCA88MA072,1988-08-31,"DALLAS/FT WORTH, TX",United States,NaN,NaN,DFW,DALLAS/FT. WORTH INTL,...,14.0,26.0,50.0,18.0,VMC,Takeoff,Probable Cause,24-04-1990,boeing 727232,108.0
21381,20001213X26924,Accident,SEA88FA167,1988-09-05,"SITKA, AK",United States,NaN,NaN,NaN,NaN,...,1.0,5.0,2.0,2.0,IMC,Maneuvering,Probable Cause,25-09-1989,britten-norman bn2a,10.0
22426,20001213X27705,Accident,DCA89MA027,1989-02-24,"HONOLULU, HI",United States,NaN,NaN,NaN,NaN,...,9.0,5.0,33.0,309.0,VMC,Climb,Probable Cause,25-06-1990,boeing 747122,356.0
23534,20001213X28786,Accident,DCA89MA063,1989-07-19,"SIOUX CITY, IA",United States,NaN,NaN,SUX,SIOUX GATEWAY,...,111.0,47.0,125.0,13.0,VMC,Cruise,Probable Cause,08-10-1992,mcdonnell douglas dc1010,296.0
24090,20001213X29335,Accident,DCA89MA074,1989-09-20,"FLUSHING, NY",United States,NaN,NaN,LGA,LA GUARDIA,...,2.0,3.0,18.0,40.0,IMC,Takeoff,Probable Cause,08-10-1992,boeing 737400,63.0
25935,20001212X23565,Accident,ANC90FA105,1990-07-01,"ILIAMNA, AK",United States,NaN,NaN,NONE,KOKHANOK BAY,...,2.0,1.0,1.0,2.0,VMC,Takeoff,Probable Cause,30-12-1992,cessna 185,6.0
26774,20001212X24506,Accident,MIA91LA005,1990-10-03,"CAPE CANAVERAL, FL",United States,NaN,NaN,NaN,NaN,...,1.0,2.0,23.0,71.0,VMC,Cruise,Probable Cause,31-03-1993,mcdonnell douglas dc931,97.0
27096,20001212X24751,Accident,DCA91MA010A,1990-12-03,"ROMULUS, MI",United States,NaN,NaN,DTW,DETROIT METRO/WAYNE CNTY,...,8.0,10.0,26.0,154.0,IMC,Taxi,Probable Cause,03-05-1993,mcdonnell douglas dc914,198.0
27097,20001212X24751,Accident,DCA91MA010B,1990-12-03,"ROMULUS, MI",United States,NaN,NaN,DTW,DETROIT METRO/WAYNE CNTY,...,8.0,10.0,26.0,154.0,IMC,Takeoff,Probable Cause,03-05-1993,boeing 727251,198.0
27346,20001212X16433,Accident,DCA91MA018B,1991-02-01,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTERNATIONAL,...,34.0,13.0,17.0,37.0,VMC,Standing,Probable Cause,05-08-1993,fairchild sa227ac,101.0
27347,20001212X16433,Accident,DCA91MA018A,1991-02-01,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTERNATIONAL,...,34.0,13.0,17.0,37.0,VMC,Landing,Probable Cause,05-08-1993,boeing 737300,101.0
29685,20001211X13976,Accident,DEN92FA024,1992-01-04,"STEAMBOAT SPGS, CO",United States,NaN,NaN,SBS,BOB ADAMS,...,3.0,4.0,1.0,1.0,IMC,Descent,Probable Cause,13-08-1993,cessna 421b,9.0
30062,20001211X14270,Accident,DCA92MA025,1992-03-22,"FLUSHING, NY",United States,NaN,NaN,LGA,LAGUARDIA,...,27.0,9.0,12.0,3.0,IMC,Takeoff,Probable Cause,14-02-2018,fokker 284000,51.0
31969,20001211X16146,Accident,DCA93RA011,1992-12-21,"FARO, Portugal",Portugal,NaN,NaN,NaN,NaN,...,56.0,106.0,69.0,109.0,IMC,NaN,Foreign,15-10-1998,mcdonnell douglas dc1030f,340.0
32470,20001211X12107,Accident,DCA93MA037,1993-04-06,"SHEMYA, AK",United States,NaN,NaN,NaN,NaN,...,2.0,60.0,96.0,97.0,VMC,Cruise,Probable Cause,27-12-1994,mcdonnell douglas md11,255.0
37171,20001207X03355,Accident,MIA95RA121,1995-04-28,"GUATEMALA CTY., Guatemala",Guatemala,NaN,NaN,NaN,AURORA INTERNATIONAL,...,6.0,1.0,1.0,1.0,IMC,NaN,Foreign,02-05-1995,douglas dc8f54,9.0
40009,20001208X06203,Accident,DCA96MA068,1996-07-06,"PENSACOLA, FL",United States,NaN,NaN,PNS,PENSACOLA REGIONAL,...,2.0,2.0,3.0,137.0,VMC,Takeoff,Probable Cause,06-06-2019,mcdonnell douglas md88,144.0
40930,20001208X07017,Accident,DCA97WA011,1996-11-23,"COMORSO ISLANDS, Ethiopia",Ethiopia,NaN,NaN,NaN,NaN,...,125.0,44.0,2.0,4.0,VMC,NaN,Foreign,NaN,boeing 767,175.0
43218,20001208X09291,Accident,DCA98MA015,1997-12-28,PACIFIC OCEAN,PACIFIC OCEAN,NaN,NaN,NaN,NaN,...,1.0,18.0,171.0,203.0,VMC,Cruise,Probable Cause,14-05-2001,boeing 747122,393.0
46256,20001212X18961,Accident,DCA99MA060,1999-06-01,"LITTLE ROCK, AR",United States,NaN,NaN,LIT,ADAMS FIELD,...,11.0,45.0,65.0,24.0,IMC,Landing,Probable Cause,28-05-2002,mcdonnell douglas md82,145.0
46952,20001212X19470,Accident,DCA99RA074,1999-08-24,"HUALIEN, Taiwan",Taiwan,NaN,NaN,NaN,NaN,...,1.0,13.0,14.0,68.0,UNK,NaN,Foreign,03-09-1999,mcdonnell douglas md90,96.0
47631,20001212X20221,Accident,DCA00WA016,1999-12-21,"GUATEMALA CITY, Guatemala",Guatemala,NaN,NaN,NaN,NaN,...,18.0,10.0,47.0,261.0,UNK,NaN,Foreign,NaN,mcdonnell douglas dc1030,336.0
49494,20001212X22160,Accident,FTW01RA006,2000-10-06,"REYNOSA, Mexico",Mexico,NaN,NaN,NaN,NaN,...,4.0,1.0,1.0,99.0,IMC,NaN,Foreign,01-06-2001,douglas dc931,105.0
49645,20010330X00677,Accident,DCA01RA002,2000-10-31,"Taipei, Taiwan",Taiwan,NaN,NaN,NaN,NaN,...,83.0,39.0,32.0,25.0,IMC,NaN,Foreign,30-03-2001,boeing 747400,179.0
52533,20020507X00636,Accident,DCA02RA034,2002-05-07,"Tunis, Tunisia",Tunisia,NaN,NaN,TUN,CARTHAGE ARPT,...,14.0,12.0,24.0,12.0,NaN,NaN,Foreign,NaN,boeing 737500,62.0
54065,20030205X00167,Accident,SEA03FA028,2003-01-18,"Eastsound, WA",United States,48.701944,-122.945833,NaN,NaN,...,1.0,1.0,1.0,1.0,VMC,Maneuvering,Probable Cause,30-09-2003,piper pa28181,4.0
54904,20030626X00959,Accident,FTW03FA174,2003-06-21,"Cushing, OK",United States,35.935833,-96.779167,NaN,NaN,...,1.0,2.0,2.0,1.0,VMC,Maneuvering,Probable Cause,10-12-2014,cessna 182h,6.0
59932,20051213X01964,Accident,DCA06MA009,2005-12-08,"CHICAGO, IL",United States,NaN,NaN,MDW,Midway Airport,...,1.0,1.0,21.0,85.0,IMC,Landing,Probable Cause,29-11-2007,boeing 737700,108.0
65991,20090225X82204,Accident,DCA09RA030,2009-02-25,"Amsterdam, Netherlands (the)",Netherlands,NaN,NaN,NaN,NaN,...,9.0,53.0,27.0,45.0,NaN,NaN,NaN,03-11-2020,boeing b737800,134.0
68738,20100816X82039,Accident,DCA10RA085,2010-08-16,"San Andres Island, Colombia",Colombia,NaN,NaN,SKSP,San Andreas Island,...,1.0,67.0,17.0,42.0,NaN,NaN,NaN,03-11-2020,boeing 737,127.0
73847,20130707X83745,Accident,DCA13MA120,2013-07-06,"San Francisco, CA",United States,373648N,1222150W,SFO,San Francisco International,...,3.0,137.0,50.0,117.0,VMC,NaN,The flight crew's mismanagement of the a...,14-06-2021,boeing 777200er,307.0
81399,20180417X23642,Accident,DCA18MA142,2018-04-17,"Philadelphia, PA",United States,395219N,0751424W,KPHL,Philadelphia,...,1.0,125.0,8.0,6.0,VMC,NaN,A low-cycle fatigue crack in the dovetail of f...,15-06-2021,boeing 7377h4,140.0
82373,20180928X51314,Accident,DCA18RA292,2018-09-28,"Chuuk, Micronesia (Federated States of)",Micronesia,072723N,1515014E,PTKK,Chuuk/Weno International Airpo,...,1.0,11.0,4.0,31.0,NaN,NaN,NaN,25-09-2020,boeing 737,47.0
83599,20190721X02950,Accident,ANC19FA035,2019-07-19,"Seldovia, AK",United States,059289N,1512921W,NaN,NaN,...,1.0,4.0,1.0,1.0,VMC,NaN,The airplane's floats impact with an ocean wav...,19-11-2020,de havilland beaverdhc2,7.0
84084,20191018X02019,Accident,DCA20MA002,2019-10-18,"Unalaska, AK",United States,535354N,1663239W,PADU,Unalaska,...,1.0,3.0,1.0,37.0,VMC,NaN,The landing gear manufacturers incorrect wiri...,01-12-2021,saab 2000,42.0

In [30]:
# Here we are checking for all duplicated rows based on Event.ID.
duplicateRows = airplane_df[airplane_df.duplicated(['Event.Id'], keep=False)]
duplicateRows

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model,Total Passengers
117,20020917X01908,Accident,DCA82AA012B,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983,grumman aa5a,3.0
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983,swearingen sa226t(b),3.0
153,20020917X02259,Accident,LAX82FA049A,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,2.0,0.0,4.0,0.0,VMC,Unknown,Probable Cause,23-01-1983,mooney m20c,6.0
158,20020917X02400,Accident,MIA82FA038B,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,23-01-1983,cessna 150m,3.0
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983,piper pa34200t,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88538,20220918105957,Accident,CEN22FA424,2022-09-17,"Longmont, CO",United States,040619N,0105721W,NaN,NaN,...,3.0,0.0,0.0,0.0,VMC,NaN,NaN,07-10-2022,cessna 172s,3.0
88592,20220929106019,Accident,DCA22WA214,2022-09-28,"London,",Great Britain,512820N,0002717E,EGLL,London Heathrow Airport,...,0.0,0.0,0.0,2.0,NaN,NaN,NaN,12-10-2022,boeing 777,2.0
88593,20220929106019,Accident,DCA22WA214,2022-09-28,"London,",Great Britain,512820N,0002717E,EGLL,London Heathrow Airport,...,0.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,boeing 757,2.0
88776,20221112106276,Accident,CEN23MA034,2022-11-12,"Dallas, TX",United States,324026N,0965146W,RBD,Dallas Executive,...,6.0,0.0,0.0,0.0,VMC,NaN,NaN,30-11-2022,bell p63,6.0
88777,20221112106276,Accident,CEN23MA034,2022-11-12,"Dallas, TX",United States,324026N,0965146W,RBD,Dallas Executive,...,6.0,0.0,0.0,0.0,VMC,NaN,NaN,30-11-2022,boeing b17,6.0

In [24]:
#For the make/models in the table above. Find the average number of passengers in this data set.
# Take the total by summing the four injury columns.

airplane_df['Total Passengers']= airplane_df[columns_to_check].sum(axis=1)

In [25]:
# # Now find the average number of passangers per unique make/model.


# # Assuming df is your DataFrame
# # Replace 'make_model_column' and 'passengers_column' with the actual column names
# make_model_column = 'Make/Model'
# passengers_column = 'Total Passengers'

# # Filter out rows where total passengers are not equal to zero
# filtered_df = airplane_df[airairplane_df[passengers_column] != 0]

# # Group by unique make/model and calculate the average number of passengers
# average_passengers_per_make_model = filtered_df.groupby(make_model_column)[passengers_column].mean()

# # Merge the averages back into the original DataFrame
# airplane_df = airplane_df.merge(average_passengers_per_make_model, left_on=make_model_column, right_index=True, how='left')

# # Rename the new column
# airplane_df.rename(columns={passengers_column+'_y': 'average_passengers'}, inplace=True)

# # Display the resulting DataFrame
# print(airplane_df)

In [26]:
# #  Now that you have the avergage number of passagers, if airplane_df[(airplane_df[columns_to_check] == 0).all(axis=1)]
# # and phase of flight = standing, replace total uninjured with average number of passangers.


# # Assuming df is your DataFrame
# # Replace 'columns_to_check', 'passengers_column', and 'phase_of_flight_column' with actual column names

# passengers_column = 'Total Passengers'
# phase_of_flight_column = 'Broad.phase.of.flight	'

# # Filter rows where all specified columns are equal to zero and phase of flight is standing
# replace_condition = (airplane_df[columns_to_check] == 0).all(axis=1) & (airplane_df[phase_of_flight_column] == 'standing')

# # Replace 'total uninjured' with the average number of passengers for the matching rows
# airplane_df.loc[replace_condition, 'Total.Uninjured'] = airplane_df.loc[replace_condition, passengers_column]

# # Display the resulting DataFrame
# print(airplane_df)

In [27]:
#NEed to check for duplicated values
#